.dashboard-layout {
  display: flex;
}

.dashboard-container {
  margin-left:260px;
  width:calc(100% - 260px);
  background:linear-gradient(to bottom right,#f4f8ff,#eaf1ff);
  min-height:100vh;
}

@media(max-width:900px){
  .dashboard-container{
    margin-left:0;
    width:100%;
  }
}
